@model IEnumerable<texas_movie.Models.Series>
@{
    ViewBag.Title = "Listar";
}
<div class="container">
    <div class="Buttons">
        <a asp-area="" asp-controller="Series" asp-action="Criar" class="btn btn-primary" >Cadastrar Série</a>
    </div>
    <div class="row">
        <div class="col-md-8">            
            <div>
                <table class="table">
                    <tr> 
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Categoria)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nota)
                        </th>
                        <th>

                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Categoria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nota)
                            </td>
                            <td>
                                <button type="button" class="btn btn-info">Vista</button>
                                <button type="button" class="btn btn-info">+ TOP 10</button>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/6/69/The_americans_title_card.png">
                <div>
                    <h4>item.Nome</h4>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="CardButtons">
                        <a asp-area="" asp-controller="Series" asp-action="Deletar" class="btn btn-danger">Deletar</a>
                        <a asp-area="" asp-controller="Series" asp-action="Editar" class="btn btn-warning">Editar</a>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</div>