@* @model movie.Models.Ator *@
@{
    ViewBag.Title = "AtorDetalhes";
}


Tela de detalhes do ator
@*
<div class="container">
    <div class="row">

        <div class="col-md-4">            
            <div class="card" style="width: 25rem;">            
                <img class="card-img-top" src="@Html.DisplayFor(model => model.Imagem)" alt="Card image cap">
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-horizontal">
                <h2 style="text-align: center"><b>@Html.DisplayFor(model => model.Nome) </b></h2>    
                <hr />
                <p>
                    <b>Sobre @Html.DisplayFor(model => model.Nome):</b> @Html.DisplayFor(model => model.Sobre)
                </p>
                <p>
                    <b>Quantidade de Filmes:</b> @Html.DisplayFor(model => model.QuantidadeDeFilmes)
                </p>
                <hr>

                <h3>
                    <b>Filmes:</b>
                </h3>

            </div>
        </div>
    </div>
</div>
*@

