@model movie.Models.Filmes

@{
    ViewBag.Title = "Detalhes";
}

<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div>
                <select id="appearance-select">
                    <option>Top 10</option>
                    <option>Muito bom</option>
                    <option>Bom</option>
                    <option>Ruim</option>
                    <option>Mediano</option>
                </select>
            </div>
            <div class="card" style="width: 25rem;">            
                <img class="card-img-top" src="@Html.DisplayFor(model => model.Imagem)" alt="Card image cap">
            </div>
            <div style="width:70%; margin:0% auto">
                <button class="btn" style=""> Remover da lista</button>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-horizontal">
                <h2 style="text-align: center"><b>@Html.DisplayFor(model => model.Nome) </b></h2>    
                <hr />
                <p>
                    <b>Sinopse:</b> @Html.DisplayFor(model => model.Sinopse)
                </p>

                <p>
                    <b>Original:</b> @Html.DisplayFor(model => model.Nome)
                </p>
                <p>
                    <b>Gênero:</b> @Html.DisplayFor(model => model.Categoria)
                </p>
                <p>
                    <b>Diretor:</b> @Html.DisplayFor(model => model.Diretor)
                </p>
                <p>
                    <b>Roteirista:</b> @Html.DisplayFor(model => model.Roteirista)
                </p>
                <p>
                    <b>Ano:</b> @Html.DisplayFor(model => model.Ano)
                </p>

                <h5>
                    Cast
                </h5>
                

            </div>
        </div>
    </div>
</div>


